@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Toronto,<br />
    ON M1T 3N5<br />
    <abbr title="Phone">P:</abbr>
    289.943.2202
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">patel.devanshi7312@gmail.com</a><br />
</address>