
@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="~/CSS/NewsCSS.css" />
    
</head>
<body>
    <div class="container" id="home">
        <h1>Welcome to CBC News Feeds</h1>

        <p>Stay up-to-date with the latest news and current events from around the world.</p>

        <button onclick="location.href='/Home/NewsStories'">Get Started</button>
    </div>
</body>
</html>


